<style>
  .content {
    display: flex;
    margin: 32px auto;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }
</style>

<div class="content" role="main">
  <!--<table class="table">  
    <tr ngclass="btn-primary">  
      <th class="tbl2">Member</th>  
      <th class="tbl2">Team</th>  
      <th class="tbl2">Status / Label</th>  
      <th class="tbl2">Created At</th>  
      <th class="tbl2">Location</th>  
    </tr>  
    <tr *ngFor="let employee of allEmployees | async">  
      <td class="tbl2">{{member.name}}</td>  
      <td class="tbl2">{{member.team}}</td>  
      <td class="tbl2"></td>  
      <td class="tbl2">{{member.createdAt | date}}</td>  
      <td class="tbl2">{{member.location}}</td>  
    </tr>  

  </table>  -->
  <mat-tab-group (selectedTabChange)="tabClick($event)">
    <mat-tab *ngFor="let status of statuses" [label]="getStatusesById(status.key)">
        <ng-template mat-tab-label>
            {{getStatusesById(status.key) + ' ' + getDataLength(status.key)}}
         </ng-template>      
    </mat-tab>
  </mat-tab-group> 
  <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
  <mat-form-field>
    <mat-select #select placeholder="location" (selectionChange)="applyFilter($event.value)">
      <mat-option *ngFor="let location of locations" [value]="location._id">
        {{location.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="warn" *ngIf="selection.hasValue()" (click)="confirmDialog()">Delete</button>
  <button mat-raised-button color="primary" (click)="addMemberDialog()">Add Member</button>
  <div class="totalsRow"><strong>{{getFilteredDataLength()}}</strong> results (of total <strong>{{dataSource.data.length}}</strong>)</div>
  <mat-card>
    <mat-card-content>
      <table mat-table [dataSource]="dataSource" matSort class="">
        
          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="tblRow(row, $event)"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>
        
          <!-- Member Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Member </th>
            <td mat-cell *matCellDef="let element"> <img src="{{element.image}}" class="" alt=""> {{element.name}} </td>
          </ng-container>
        
          <!-- Team Column -->
          <ng-container matColumnDef="team">
            <th mat-header-cell *matHeaderCellDef> Team </th>
            <td mat-cell *matCellDef="let element"> {{element.team}} </td>
          </ng-container>
      
          <!-- Status/Label Column -->
          <ng-container matColumnDef="calculatedStatus">
            <th mat-header-cell *matHeaderCellDef> Status / Label </th>
            <td mat-cell *matCellDef="let element">
              <button mat-raised-button class="status"> {{getStatusesById(element.calculatedStatus)}} </button>&nbsp;
              <span *ngIf="createdAtCompareDate(element.createdAt)"><button mat-raised-button class="lbl"> New </button></span>
            </td>
          </ng-container>    
      
          <!-- Created At Column -->
          <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Created At </th>
            <td mat-cell *matCellDef="let element"> {{element.createdAt | date}} </td>
          </ng-container>
      
          <!-- Location Column -->
          <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
            <td mat-cell *matCellDef="let element"><i class="material-icons">room</i> 
              <span class="tstSpan">{{getMemberLocationById(element.office)}}</span></td>
          </ng-container>    
      
          <!-- Status Column - DELETE !!! -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element">{{element.calculatedStatus}} </td>
          </ng-container>        
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
              (click)="selection.toggle(row)">
          </tr>
        </table>  
    </mat-card-content>
  </mat-card>
</div>
<router-outlet></router-outlet>
